.bt-h-300 {
    min-height: 300px;
}

.d-card {
    border: 0;
    
}

.d-card-tr-0 {
    border-style: hidden;
}

.react-bootstrap-table table{
    table-layout: auto;
}

#create-goal-form{
    background-color: #FF1E89;
    color: white
}