.bt-h-300 {
    min-height: 300px;
}

.d-card {
    border: 0;
    
}

.d-card-tr-0 {
    border-style: hidden;
}

.react-bootstrap-table table{
    table-layout: auto;
}

#create-goal-form{
    background-color: #FF1E89;
    color: white
}

.reviewDate{
    color: black;
    opacity: 0.7;
    font-size: 15px;
}

.fw-bold{
    color:#48B030;
    font-size: large;
}

.item-listgroup{
    color:#48B030;
    font-weight: bold;
    font-size: large;
}

.listgroup-info{
    font-size: 14px;
}

.dashboard-title{
    font-size: 37px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

#date-dropdown{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.square{
    background-color: #48B030;
}

#dashboard-list-group{
    background-color: #FAFAFA;
    height: 400px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}