.login-image{
  height:100vh;
  background-image:url('https://www.baytreecentre.org/wp-content/uploads/2021/05/into-school.jpg');
  background-size:cover;
  background-position: center;
}

.login-card{
  max-width: 320px;
  border-radius:4px;
  position:absolute;
}

#bigBox{
  float: right;
  margin: 0 auto;
  margin-top: 15%;
  margin-right: 3%;
  padding: 20px 50px;
  background-color: rgba(230, 227, 227);
  width: 400px;
  height: 600px;
  border-radius: 10px;
  text-align: left;
}

.image{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#inputBox{
  width: 250px;
  height: 40px;
  border: 2px solid rgb(38, 0, 128);
}

#bigBox .inputTitle{
  margin-top: 30%;
}

#bigBox .inputTitle .inputBox{
  margin-top: 20px;
}

#bigBox .inputTitle .inputBox input{
  border: 0;
  padding: 10px 10px;
  border-bottom: 1px solid white;
  background-color: #00000000;
  color: white;
}

.submitButton{
  text-align: center;
  margin-top: 40px;
}

#login {
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}

#signUp {
  color: black;
}

.inputText{
  text-align: center;
}

.test{
  text-align: center;
  margin-top: 3%;
}