#container{
    margin-top: 100px;
  }

#analogClock{
    margin-top: 50px;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}

#dateTimeDisplay{
    font-size: 50px;
    justify-content: center;
    display: flex;
}

.light-red-background{
    color: black;
    background-color: #F5CDC4;
}

.dark-red-background{
    color: white;
    background-color: #BD3E23;
}

.btn-block{
    width: 100%;
}
  