.btn-bg-color-primary {
    background-color: #307FE2;
}

.btn-font-color-primary {
    color: white;
}

.btn-bg-color-secondary {
    background-color: #D3D3D3;
}

.btn-font-color-secondary {
    color: #2D2424;
}

.txt-color {
    color: black;
}

.table-header-bg-grn {
    background-color: #5ab031;
}

.table-header-bg-pnk {
    background-color: #ff1d89;
}

.table-header-bg-blue {
    background-color: #196f8c;
}

.table-header-bg-dark-blue {
    background-color: #0f637d;
}

.table-header-bg-gray-blue {
    background-color: #2c3e50;
}



