.btn-bg-color-primary {
    background-color: #307FE2;
}

.btn-font-color-primary {
    color: white;
}

.btn-bg-color-secondary {
    background-color: #D3D3D3;
}

.btn-font-color-secondary {
    color: #2D2424;
}

.txt-color {
    color: black;
}