.l-navbar {
    position: fixed;
    top: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    width: 70px;
    height: 100vh;
    transition: .5s;
    z-index: 100;
}

.nav-container {
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding: 0 .3rem .3rem .3rem;
    display: flex;
    margin-right: 0;
    margin-top: 0;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav-top-container{
    background-color: white;
}

.navbar-brand {
    margin-right: 0;
    background-color: transparent;
}

.navbar-brand img {
    width: auto;
    height: 60px;
    background-color: white;
}

.navbar-nav {
    background-color: white;
}

.nav-link {
    background-color: transparent;
}

.nav-icon {
    background-color: transparent;
}