.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color: white;
    z-index: 99;
    transition: .5s;
}

.header.topnav{
    left: 0;
}

.header.topnav.open {
    left: 160px;
}

@media screen and (min-width: 768px){
    .header.topnav {
        left: 70px;
    }
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -160px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    width: 160px;
    height: 100vh;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    z-index: 100;
}

.l-navbar.open {
    left: 0;
}

@media screen and (min-width: 768px) {
    .l-navbar {
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        width: 180px;
        height: 100vh;
        transition-duration: .5s;
        z-index: 100;
    }
}

.nav-container {
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding: 0;
    display: flex;
    margin-right: 0;
    margin-top: 0;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav-top-container{
    background-color: white;
}

.navbar-brand {
    margin-right: 0;
    background-color: transparent;
}

.navbar-brand img {
    background-color: white;
    object-fit:cover;
}

.navbar-nav {
    background-color: white;
}

.nav-link {
    color: #d63384;
    background-color: transparent;
    margin-top: 25px;
}

.nav-link:hover {
    color: white;
    background-color: #d63384;
}

.nav-icon {
    background-color: transparent;
    margin-right: 15px;
}

.collapse {
    transition: .5s;
}

.portal-name{
    color: #d63384;
}
